{#head}
<link rel="stylesheet" type="text/css" href="http://code.jquery.com/ui/1.9.1/themes/ui-lightness/jquery-ui.css" />
<!--<script type="text/javascript" src="{$basePath}/js/jquery.timepicker.min.js" ></script>-->
<script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.10.3/jquery-ui.min.js"></script>
<script type="text/javascript">
	$(function() {
//		$('.timepicker').timepicker({ 'timeFormat': 'H:i' });
		$('.datepicker').datepicker({ dateFormat: "dd.mm.yy" });
	});
</script>
{/#}
{form $content->layout}
<ul class=error n:if="$form->errors">
	<li n:foreach="$form->errors as $error">{$error}</li>
</ul>

<table class="forms">
<tr n:foreach="$form->controls as $input" n:class="$input->required ? required">
	<th>{if $input->controlPrototype->type !== checkbox}{label $input /}{/if}</th>
	<td>{input $input} {if $input->controlPrototype->type === checkbox}{label $input /}{/if}
		<span class=error n:if="$input->errors">{$input->errors|implode:' '}</span>
	</td>
</tr>
</table>
{/form}