
body {
	font-family: Calibri, Arial;
	font-size: 1.1em;
	color: black;
	background-color: #000000;
}

body.mceContentBody{
	background-color: #ffffff;
}

a {
	color: #aaaaaa;
}
a:hover {
	color: white;
}
.center {
	text-align: center;
}

.tail_bg {
	background: url(../images-front/bg.jpg) top center no-repeat #060807;
	color: white;
}
.tail_bg > .main {
	margin: 0 auto;	position: relative;	width: 980px;
	box-shadow: 0px 0px 30px 0px rgba(255, 255, 255, 0.1);
}

#frm-confirmCs, #frm-confirmEn {
	margin: 20px;
}
#frm-contact th:first-child {
	width: 35%;
}

/*======= header =======*/
header {
	height: 300px;
	position: relative;
	color: #666666;
}
header h1 {
/*	position: absolute;
	left: 15px;
	top: 120px;*/
	padding: 15px 0 10px 15px;
	font-size: 120%;
	display: block;
	width: 480px;
	height: 120px;
	overflow: hidden;
}
header h1 a{
	display: block;
	background: url(../images-front/logo_zacatecnice_cz.png) left center no-repeat;
	width: 480px;
	height: 120px;
}
header h1 a span{
	padding-left: 485px;
}
header .indent {
/*	position: absolute;
	top: 40px;
	left: 15px;*/
	margin:0px 0 0 15px;
	font-size: 75%;
	color: #888888;
}
header .indent p {
	line-height: 25px;
	margin-bottom: 0px;
}
header .indent span {
	color: white;
	font-size: 120%;
	letter-spacing: 1px;
}
header .menuright {
	position: absolute;
	right: 5px;
	top: 5px;
	text-decoration: none;
}
header .menuright a {
	text-decoration: none;
}
header .menuright img {
	border: 0;
}

.menu_right ul {
    height: 40px;
    list-style-type: none;
    margin: 0;
    padding: 0;
	background-color: rgba(99,00,00,0.6);
	position: absolute;
	top: 250px;
	width: 100%;
	box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.8);
	font-size: 80%;
}

.menu_right li {
    float: left;
    height: 40px;
    margin: 0;
}
.menu_right li a {
    display: block;
    height: 40px;
    line-height: 40px;
    margin: 0;
    padding: 0 20px;
    position: relative;
    text-align: center;
    text-decoration: none;
	text-transform: uppercase;
	font-weight: bold;
}
.menu_right li a:hover {
    background-color: rgba(50,50,50,0.6);
}
.current {
    background-color: rgba(50,50,50,0.6);
}
.bot .current {
    background: none;
}
.main.mr {
	clear: both;
}


/*======= section =======*/

section {
	margin: 0 30px 30px 30px;
}

section .inside {
	padding: 20px 10px;
	/*	background-color: rgba(50,50,50,0.5);
		border: 1px solid #888888;*/
	font-size: 90%;
}
section .inside h4 {
	padding: 0 0 20px 0;
	color: #dddddd;
}
section .inside h2 {
	padding: 0 0 29px 0;
	color: #bbbbbb;
}

section .description {
	padding: 15px 30px;
	background-color: rgba(50,50,50,0.3);
}
aside:first-child .description {
	margin-bottom: 20px;
}
section .inner-box {
	padding: 0;
}

table {
	width: 100%;
}
table th {
	font-weight: normal;
	text-align: left;
	color: #FFF;
}
table th, table td {
	padding: 0;
}
form table th, form table td {
	padding: 5px;
}
#frm-infoForVip th, #frm-reservation th {
	width: 33%;
}

table input, textarea, select {
	background: #222222; /* Old browsers */
	background: -moz-linear-gradient(top, #222222 0%, #444444 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#222222), color-stop(100%,#444444)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #222222 0%,#444444 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #222222 0%,#444444 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #222222 0%,#444444 100%); /* IE10+ */
	background: linear-gradient(to bottom, #222222 0%,#444444 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#222222', endColorstr='#444444',GradientType=0 ); /* IE6-9 */
	border: 1px solid #666666;
	padding: 3px;
	color: white;
	font-family: Calibri, Arial;
	font-size: 90%;
}
table input:hover, textarea:hover, select:hover {
	border: 1px solid #999999;
}

table textarea{
	height: 188px;
}

table input[type="submit"] {
	padding: 5px 20px;
	font-weight: bold;
	margin: 10px 0;
	font-size: 120%;
	color: #CCCCCC;
}
table input[type="submit"]:hover {
	color: #bbbbbb;
}
table input[type="text"] {
	width: 200px;
}
select {
	width: 208px;
	background-color: #222222;
}
textarea {
	width: 100%;
}





/*======= footer =======*/

footer {
	font-size: 70%;
	border-top: 1px solid #111111;
	color: #666666;
}
footer a {
	color: #666666;
}
footer a:hover {
	color: #aaaaaa;
}
footer .container {
	padding: 20px;
	height: 20px;
	line-height: 20px;
}
footer .container ul {
	float: right;
}
footer .container ul li {
	float: left;
	padding: 0 15px;
	border-left: 1px solid #111111;
}
footer .container ul li:first-of-type {
	border-left: 0;
}


/* dívky */

.girls {
	margin: 0 -5px;
}
.girls h2 {
	margin: 0 5px;
}

.col, .col0, .col-1, .col-2, .col-2-1, .col-3, .col-4{ float:left}

.col{ width:224px; margin-right:1px}
.col0 {
	width: 159px;
	margin: 5px 3px 10px 3px;
	border: 1px solid #444444;
	padding: 5px;
	float: none;
	display: inline-block;
}
.col0:hover {
	background-color: rgba(50,50,50,0.5);
}
.container3 {
	text-align: center;
}
.image-wrapper {
    display: block;
    height: 238px;
    overflow: hidden;
    width: 159px;
}
.box_girl {
	text-align: left;
}
.box_girl h3 {
	font-size: 90%;
	padding: 7px 0;
	text-align: center;
	color: #888888;
}
.box_girl .fleft {
	font-size: 70%;
	color: #888888;
	padding: 0 0 8px 8px;
}
.box_girl .fleft table td:first-child {
	width: 30%;
}
.box_girl .fleft table td {
	padding: 0;
}


.box_girl a {
	text-decoration: none;
}
.box_girl a:hover {
	text-decoration: underline;
}
/*.col1{ width:900px; margin-right:1px}*/


section .container {
	clear: both;
	margin-top: 0px;
	min-height: 180px;
}

#page1 .col-1 {
	width: 298px;
	float: left;
}
#page1 .col-2-1 {
	width: 586px;
	padding: 5px 0 0 5px;
	border: 1px solid #444444;
	float: right;
}
#page1 .col-2-1 img {
	margin: 0 5px 5px 0;
}
#fotobox {
	font-size: 0;
}

#page1 .col-1 .indent-box2 {
	padding: 20px;
	border: 1px solid #444444;
	margin-bottom: 10px;
	font-size: 90%;
	color: #888888;
	line-height: 200%;
}
#page1 .col-1 .indent-box2 h3 {
	margin-bottom: 10px;
	font-size: 120%;
	color: #eeeeee;
}
#page1 .col-1 .indent-box2 h4 {
	margin: 20px 0 5px 0;
	padding: 0;
	font-size: 110%;
	color: #bbbbbb;
}
table.prices td, table.prices th {
	text-align: right;
}
#page1 .col-1 .indent-box2 table th:first-child {
	text-align: left;
	width: 35%;
}
.indent4 {
	text-align: justify;
}


#page1 .col-3{ width:226px; margin-right:0}
#page1 .col-1 .col-1{ width:95px; margin-right:3px}
#page1 .col-1 .col-2{ width:95px; margin-right:0}
/*======= index-1.html =======*/

/*
#page2 .col-1{ width:216px; margin-right:24px}
#page2 .col-2{ width:618px; margin-right:0}
======= index-2.html =======
#page3 .col-1{ width:620px; margin-right:30px}
#page3 .col-2{ width:226px; margin-right:0}
======= index-3.html =======
#page4 .col-1{ width:226px; margin-right:40px}
#page4 .col-2{ width:385px; margin-right:27px}
#page4 .col-3{ width:226px; margin-right:0}
======= index-4.html =======
#page5 .col-1{ width:620px; margin-right:30px}
#page5 .col-2{ width:226px; margin-right:0}
======= index-5.html =======
#page6 .col-1{ width:226px; margin-right:40px}
#page6 .col-2{ width:620px; margin-right:0}
#page6 .col-2 .col-1{ width:315px; margin-right:0}
#page6 .col-2 .col-2{ width:294px; margin-right:0}*/

p.nomargin{
	margin: 0;
}

table a, table a:hover{
	text-decoration: none;
}

.flash{
	padding: 10px;
	background: #1B0214;
	border: 2px solid;
	border-radius:5px;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
	behavior:url(js/PIE.htc);
}
.flash.info{
	border-color: #448CCB;
	color: #448CCB;
	font-weight: bold;
}

.whitetext{
	color:white;
}

ul.noDot li{
	min-height: 17px;
}

.w120px{
	width: 120px !important;
}
td.w68px{
	width: 75px;
}

/* kalendar container */

.table-container-inner {
    width: 99%;
/*    overflow-x: auto;
    overflow-y: hidden;*/
}
.fixed-table-container-inner table.calendar, .fixed-table-container-inner .insideCalendar {
	margin-top: 10px;
	table-layout: fixed;
}

.fixed-table-container tr {
	/*height: 120px;*/
}
.fixed-table-container td, .fixed-table-container th {
	width: 75px;
	vertical-align: middle;
}
.fixed-table-container td, .fixed-table-container th, .table-container th, .table-container td {
	padding: 0 5px;
	text-align: center;
}
.fixed-table-container .calendar.body > tbody > tr > td {
	display: inline-block;
	padding: 0 2px;
	min-height: 130px;
	background-color: transparent;
}


/*.fixed-table-container td:first-of-type, .fixed-table-container th:first-of-type {
    position: absolute;
    text-align: left;
    left: 0;
}*/


.fixed-table-container tbody tr:nth-of-type(2n+1) td, .table-container tbody tr:nth-of-type(2n+1) td {
	background-color: rgba(20, 20, 20, 0.5);
}
.fixed-table-container tbody .week {
	background-color: rgba(40, 40, 40, 0.9) !important;
}
.table-container tbody .week {
	background-color: rgba(40, 40, 40, 0.9) !important;
	border-right: 2px solid rgba(60, 60, 60, 0.6) !important;
}
.table-container tbody .normalf {
	border-right: 2px solid rgba(60, 60, 60, 0.6) !important;
}
.table-container tbody .normal {
	border-right: 2px solid rgba(20, 20, 20, 0.9) !important;
}
.fixed-table-container, .table-container {
	font-size: 0.8em;
}
.table-container img.top-space{
	margin-top: 48px;
}
table.insideCalendar.top-space{
	margin-top: 70px;
}
img.q{
	margin-top: 5px;
	margin-bottom: 5px;
}
/*tr img.q:last-child{
	margin-bottom: 5px;
}*/
span.top-space{
	margin-top: 45px;
	display: block;
}
.top-space-x{
	margin-top: 65px;
}
.top-space-x2{
	margin-top: 45px;
}

/* inside kalendar */
table.insideCalendar {
	min-height: 130px;
	border: 1px solid #444444;
	background-color: rgba(20, 20, 20, 0.9) !important;
}
table.insideCalendar td.p{
	width: 120px;
}
table.insideCalendar td{
	border-right: 1px solid #444444;
	width: 74px;
	vertical-align: middle;
}
table.insideCalendar tr{
	border-bottom: 1px solid #444444;
}

b.name{
	display: block;
	font-size: 110%;
	margin-bottom: 4px;
}

/* colors */
.white{
	color: white;
}

p{
	margin-bottom: 19px;
}

.content{
	padding-bottom: 19px !important;
}