/* global */

.left {
	float: left;
}
.right {
	float: right;
}
.center {
    text-align: center;
}
.hide {
    display: none;
}
.clear {
    clear: both;
}

.overcross{
	text-decoration: line-through;
	color: #222222;
}
.components h2{
	padding: 0 0 10px 0 !important;
}