{var $lang = $presenter->getParameter('lang')}
<ul>
	<li n:foreach="$topmenu as $item" n:if="$item->visible==1" n:class="$iterator->isFirst()? first">
		<a href="{plink Pages:default lang=>$presenter->getParam('lang'),item => $item->item}" title="{$item->name}" n:class="$presenter->isLinkCurrent('Pages:default',array('item'=>$item->item)) ? current">{$lang=='cs'?$item->page->name:$item->page->{'name_'.$lang}}</a>
	</li>
</ul>