<div class="indent">
	<div class="container">
		<div class="col-1">
			<div class="box1">
				<div class="indent-box2">
					<table>
						<tr><th>{_}Jméno dívky{/_}:</th><td class="whitetext"><strong>{$slecna->getLang($lang)->getJmeno()?$slecna->getLang($lang)->getJmeno():$slecna->getLang('cs')->getJmeno()}</strong></td></tr>
					</table>
				</div>

				<div class="indent-box2">
					<div class="indent4">
						<table>
							<tr><th>{_}Věk{/_}:</th><td>{$slecna->getLang($lang)->getVek()?$slecna->getLang($lang)->getVek():$slecna->getLang('cs')->getVek()} {_}let{/_}</td></tr>
							<tr><th>{_}Výška{/_}:</th><td>{$slecna->getLang($lang)->getVyska()?$slecna->getLang($lang)->getVyska():$slecna->getLang('cs')->getVyska()} cm</td></tr>
							<tr><th>{_}Váha{/_}:</th><td>{$slecna->getLang($lang)->getVaha()?$slecna->getLang($lang)->getVaha():$slecna->getLang('cs')->getVaha()} kg</td></tr>
							<tr><th>{_}Prsa{/_}:</th><td>{$slecna->getLang($lang)->getPrsa()?$slecna->getLang($lang)->getPrsa():$slecna->getLang('cs')->getPrsa()}</td></tr>
							<tr><th>{_}Vlasy{/_}:</th><td>{$slecna->getLang($lang)->getVlasy()?$slecna->getLang($lang)->getVlasy():$slecna->getLang('cs')->getVlasy()}</td></tr>
							<tr><th>{_}Oči{/_}:</th><td>{$slecna->getLang($lang)->getOci()?$slecna->getLang($lang)->getOci():$slecna->getLang('cs')->getOci()}</td></tr>
							<tr><th>{_}Ochlupení{/_}:</th><td>{$slecna->getLang($lang)->getOchlupeni()?$slecna->getLang($lang)->getOchlupeni():$slecna->getLang('cs')->getOchlupeni()}</td></tr>
							<tr><th>{_}Jazyky{/_}:</th><td>{$slecna->getLang($lang)->getJazyky()?$slecna->getLang($lang)->getJazyky():$slecna->getLang('cs')->getJazyky()}</td></tr>
							<tr><th>{_}Region{/_}:</th><td>{$slecna->getLang($lang)->getRegion()?$slecna->getLang($lang)->getRegion():$slecna->getLang('cs')->getRegion()}</td></tr>
							<tr><th>{_}Telefon{/_}:</th><td>{$slecna->getLang($lang)->getTelefon()?$slecna->getLang($lang)->getTelefon():$slecna->getLang('cs')->getTelefon()}</td></tr>
						</table>
					</div>
					<div class="clear"></div>
				</div>

				<div class="indent-box2">
					<div class="indent4">
						<h3>{_}O dívce{/_}</h3>
						{$slecna->getLang($lang)->getOstatni()?$slecna->getLang($lang)->getOstatni():$slecna->getLang('cs')->getOstatni()|noescape}
					</div>
				</div>
				<div class="clear"></div>

				{if $slecna->price_privat}
					{dump $slecna}
					<div class="indent-box2">
						<div class="indent4">
							<h3>{_}Podmínky schůzky{/_}</h3>
								{$slecna->getLang($lang)->predstava_schuzky|noescape}
						</div>
					</div>

					{*
				<div class="indent-box2">
					<div class="indent4">
						<h3>{_}Ceny{/_}</h3>
						<table class="prices">
							<tr>
								<th></th><th>CZK</th><th>EUR</th>
							</tr>
							
							<tr n:if="$slecna->getPrices()->price_escort_in_prague->col1 !=''">
								<th>{_}1 hodina{/_}</th><td>{$slecna->getPrices()->price_escort_in_prague->col1} Kč</td><td>{$slecna->getEurPrices()->price_escort_in_prague->col1},- EUR</td>
							</tr>
							<tr n:if="$slecna->getPrices()->price_escort_in_prague->col2 !=''">
								<th>{_}2 hodiny{/_}</th><td>{$slecna->getPrices()->price_escort_in_prague->col2}  Kč</td><td>{$slecna->getEurPrices()->price_escort_in_prague->col2},-  EUR</td>
							</tr>
							<tr n:if="$slecna->getPrices()->price_escort_in_prague->col3 !=''">
								<th>{_}3 hodiny{/_}</th><td>{$slecna->getPrices()->price_escort_in_prague->col3}  Kč</td><td>{$slecna->getEurPrices()->price_escort_in_prague->col3},-  EUR</td>
							</tr>
							<tr n:if="$slecna->getPrices()->price_escort_in_prague->col4 !=''">
								<th>{_}6 hodin{/_}</th><td>{$slecna->getPrices()->price_escort_in_prague->col4}  Kč</td><td>{$slecna->getEurPrices()->price_escort_in_prague->col4},-  EUR</td>
							</tr>
							<tr n:if="$slecna->getPrices()->price_escort_in_prague->col5 !=''">
								<th>{_}8 hodin{/_}</th><td>{$slecna->getPrices()->price_escort_in_prague->col5}  Kč</td><td>{$slecna->getEurPrices()->price_escort_in_prague->col5},-  EUR</td>
							</tr>
							<tr n:if="$slecna->getPrices()->price_escort_in_prague->col6 !=''">
								<th>{_}12 hodin{/_}</th><td>{$slecna->getPrices()->price_escort_in_prague->col6}  Kč</td><td>{$slecna->getEurPrices()->price_escort_in_prague->col6},-  EUR</td>
							</tr>
							<tr n:if="$slecna->getPrices()->price_escort_in_prague->col6 !=''">
								<th>{_}24 hodin{/_}</th><td>{$slecna->getPrices()->price_escort_in_prague->col7}  Kč</td><td>{$slecna->getEurPrices()->price_escort_in_prague->col7},-  EUR</td>
							</tr>
							<tr n:if="$slecna->getPrices()->price_escort_in_prague->col8 !=''">
								<th>{_}každý další den{/_}</th><td>{$slecna->getPrices()->price_escort_in_prague->col8}  Kč</td><td>{$slecna->getEurPrices()->price_escort_in_prague->col8},-  EUR</td>
							</tr>
							
						</table>
						<p>&nbsp;</p>
						{if $lang=='cs'}
						{$slecna->podnik->ceny_popis|noescape}
						{else}
							{$slecna->podnik->{'ceny_popis_'.$lang}|noescape}
							{/if}
<!--						<p>{_}Cena obsahuje daný čas s Tebou na večeři nebo u Tebe v postýlce, mazlení, milování, klasiku a orál s kondomem.{/_}<br/>
{_}Cena je včetně mé dopravy k Tobě po Praze.{/_}<br/>
{_}Ostatní službičky jsou příplatkové po +500,- Kč.{/_}</p>-->
					</div>
				</div>
					*}
					<div class="clear"></div>
				{/if}

				<div class="indent-box2">
					<div class="indent4 center">
						<h3>{_}Co mám ráda{/_}</h3>
						{foreach $slecna->serviceTypes as $serviceType}
							{if count($serviceType->services) > 0}
								<h4 class="color">
									{if $lang=='cs'}
										{$serviceType->name}
									{else}
										{$serviceType->{'name_'.$lang}}
									{/if}
								</h4>
								<ul>
									{foreach $serviceType->services as $key => $typy}
										{if $lang == 'cs'}
											{ifset $typy->description}<li n:class="$typy->offered===false?overcross">{$typy->description}</li>{/ifset}
											{else}
												{ifset $typy->{'description_'.$lang}}<li n:class="$typy->offered===false?overcross">{$typy->{'description_'.$lang}}</li>{/ifset}
													{/if}
														{/foreach}
													</ul>
													{/if}
														{/foreach}
														</div>
													</div>
													<div class="clear"></div>
													{var $ostatniBox = $slecna->getLang($lang)->getOstatni_box()?$slecna->getLang($lang)->getOstatni_box():$slecna->getLang('cs')->getOstatni_box()}
													<div n:if="!empty($ostatniBox)" class="box-bot">
														<div class="indent-box2">
															<div class="indent4">
																{$ostatniBox|noescape}
															</div>
														</div>
													</div>

												</div>
											</div>
											<div class="col-2-1">
												<div id="fotobox">
													{foreach $slecna->getPhotos() as $fotka}
														<img class="detailPhoto" src="{$fotka->name|getPhoto:288:417:'EXACT':581:387}" data-photoid="{$iterator->counter}" id="photoid{$iterator->counter}" />
														{*<img class="detailPhoto" src="{$basePath}/photo/{$modelPhoto->getPhoto2($fotka['name'],288,417,581,387,'EXACT')}" data-photoid="{$iterator->counter}" id="photoid{$iterator->counter}" />*}
													{/foreach}
												</div>
											</div>
										</div>
									</div>
									<div class="clear"></div>

