<div class="content clearfix">
	<h2>{_}Dívky dnes - online{/_}</h2>
	<div class="girls-overview">
		{foreach $slecny as $slecna}
			
			{*dump $slecna->id,isset($calendar[$slecna->id])}
			{if isset($calendar[$slecna->id])}
				{dump $calendar[$slecna->id]->isAllDayOnline(),$calendar[$slecna->id]->isOnlineOnRequest()}
				{/if*}
			{if isset($calendar[$slecna->id]) && ($calendar[$slecna->id]->isAllDayOnline() || $calendar[$slecna->id]->isOnlineOnRequest())}
				<div>
					<a title="Kliknutím zobrazíte detail dívky a fotogalerie" href="{plink Pages:default item=>detail,slecna=>$slecna->url!=''?$slecna->url:$slecna->id}">
						<img src="{$slecna->mainfoto|getPhoto:133:200:'EXACT'}">
					</a>
					<div class="name">{$slecna->getLang($lang)->getJmeno()?$slecna->getLang($lang)->getJmeno():$slecna->getLang('cs')->getJmeno()}</div>
					<div class="description">Escort i privát</div>
				</div>
			{/if}
		{/foreach}
	</div>
</div>
<!-- BOX -->
<div class="fL"><div class="fR"><div class="fB"></div></div></div>
<div class="Sep"></div>