<aside class="girls">
	<h2>{_}Naše dívky{/_}:</h2>
	<div class="bg-aside">
		<div class="indent-aside">
			<div class="container3">
				{foreach $slecny as $slecna}
					<div class="col0">
						<div class="image-wrapper">
							{if $slecna->url==''}
								<a href="{plink Pages:default item=>detail,lang=>$presenter->getParam('lang'), slecna => $slecna->id, jmeno => $template->webalize($slecna->getLang('cs')->jmeno)}">
									<img alt="" src="{$slecna->mainfoto|getPhoto:159:238:'EXACT'}" class="img1" />
								</a>
							{else}
								<a href="{plink Pages:default item=>detail,lang=>$presenter->getParameter('lang'),slecna=>$slecna->url!=''?$slecna->url:$slecna->id}">
									<img alt="" src="{$slecna->mainfoto|getPhoto:159:238:'EXACT'}" class="img1" />
								</a>
							{/if}
						</div>
						<div class="box_girl">
							<div class="indent-box">
								{if $slecna->url==''}
									<h3><a href="{plink Pages:default item=>detail,lang=>$presenter->getParam('lang'), slecna => $slecna->id, jmeno => $template->webalize($slecna->getLang('cs')->jmeno)}">{$slecna->getLang($lang)->getJmeno()?$slecna->getLang($lang)->getJmeno():$slecna->getLang('cs')->getJmeno()}</a></h3>
									{else}
									<h3><a href="{plink Pages:default item=>detail,lang=>$presenter->getParameter('lang'),slecna=>$slecna->url!=''?$slecna->url:$slecna->id}">{$slecna->getLang($lang)->getJmeno()?$slecna->getLang($lang)->getJmeno():$slecna->getLang('cs')->getJmeno()}</a></h3>
								{/if}
								<div class="fleft">
									<table>
										<tr><td>{_}Věk{/_}:</td><td>{$slecna->getLang($lang)->getVek()} {_}let{/_}</td></tr>
										<tr><td>{_}Výška{/_}:</td><td>{$slecna->getLang($lang)->getVyska()} cm</td></tr>
										<tr><td>{_}Váha{/_}:</td><td>{$slecna->getLang($lang)->getVaha()} kg</td></tr>
									</table>
								</div>
							</div>
						</div>
					</div>
				{/foreach}
				<div class="col0">
					<div class="image-wrapper">
						<a href="{plink Pages:default item=>prace-v-erotice,lang=>$presenter->getParameter('lang')}">
							<img class="img1" src="{$basePath}/photo/join_us.jpg" alt="" style="display: inline-block; width: 100%; height: 100%; opacity: 1; margin-left: 0px; margin-top: 0px;">
						</a>
					</div>
					<div class="box_girl">
						<div class="indent-box">
							<h3><a href="{plink Pages:default item=>prace-v-erotice,lang=>$presenter->getParameter('lang')}">{_}Přidej se k nám{/_}</a></h3>
							<div class="fleft">
								<table>
									<tbody>
										<tr><td>{_}Věk{/_}:</td><td>18 - 30 {_}let{/_}</td></tr>
										<tr><td>{_}Výška{/_}:</td><td>150 - 190 cm</td></tr>
										<tr><td>{_}Váha{/_}:</td><td>40 - 80 kg</td></tr>
									</tbody>
								</table>
							</div>
						</div>
					</div>
				</div>

			</div>
		</div>
	</div>
	<div class="clear"></div>
</aside>
