<div class="hL"><div class="hR"><div class="hB"></div></div></div>
<div class="content clearfix">
	<h2>{_}Všechny dívky s podrobnostmi{/_}</h2>

	<div class="girl-table clearfix">

		<!-- GALERIE -->
		{foreach $slecny as $slecna}
			<div class="girl-box">
				<div class="girl-box-two">
					<table>
						<colgroup>
							<col class="first-col">
							<col class="second-col">
						</colgroup>
						<tbody>
							<tr>
								<td rowspan="2" class="image-preview">
									{*<a title="Kliknutím zobrazíte detail dívky a fotogalerie" href="{plink Pages:default item=>detail,slecna=>$slecna->url!=''?$slecna->url:$slecna->id}">*}
									<a title="Kliknutím zobrazíte detail dívky a fotogalerie" href="{plink Pages:default item=>detail,slecna=>$slecna->url!=''?$slecna->url:$slecna->id}">
										<img src="{$slecna->mainfoto|getPhoto:106:160:'EXACT'}">
									</a>
								</td>
								<td class="name-line">
									<table>
										<colgroup>
											<col class="w18">
											<col>
										</colgroup>
										<tbody>
											<tr>
												<th>{_}Jméno{/_}:</th>
												<td><a href="{plink Pages:default item=>detail,slecna=>$slecna->url!=''?$slecna->url:$slecna->id}">{$slecna->getLang($lang)->jmeno?$slecna->getLang($lang)->jmeno:$slecna->getLang('cs')->jmeno}</a></td>
											</tr>
										</tbody>
									</table>
								</td>
							</tr>
							<tr>
								<td class="table-details-cell">
									<table class="table-details">
										<colgroup>
											<col class="w18">
											<col class="w28">
											<col class="w20">
											<col class="w35">
										</colgroup>
										<tbody>
											<tr>
												<th>{_}Věk{/_}:</th>
												<td>{$slecna->getLang($lang)->vek?$slecna->getLang($lang)->vek:$slecna->getLang('cs')->vek} let</td>
												<th>{_}Oči{/_}:</th>
												<td>Modré</td>
											</tr>
											<tr>
												<th>{_}Výška{/_}:</th>
												<td>{$slecna->getLang($lang)->vyska?$slecna->getLang($lang)->vyska:$slecna->getLang('cs')->vyska} cm</td>
												<th>{_}Ochlupení{/_}:</th>
												<td>Vyholené</td>
											</tr>
											<tr>
												<th>{_}Váha{/_}:</th>
												<td>{$slecna->getLang($lang)->vaha?$slecna->getLang($lang)->vaha:$slecna->getLang('cs')->vaha} kg</td>
												<th>{_}Jazyky{/_}:</th>
												<td>{$slecna->getLang($lang)->jazyky?$slecna->getLang($lang)->jazyky:$slecna->getLang('cs')->jazyky}</td>
											</tr>
											<tr>
												<th>{_}Prsa{/_}:</th>
												<td>{$slecna->getLang($lang)->prsa?$slecna->getLang($lang)->prsa:$slecna->getLang('cs')->prsa}</td>
												<th>{_}Podnik{/_}:</th>
												<td>
													{if $lang=='en'}
														{$slecna->podnik->name_en?$slecna->podnik->name_en:$slecna->podnik->name}
													{else}
														{$slecna->podnik->name}
													{/if}

												</td>
											</tr>
											<tr>
												<th>{_}Vlasy{/_}:</th>
												<td>{$slecna->getLang($lang)->vlasy?$slecna->getLang($lang)->vlasy:$slecna->getLang('cs')->vlasy}</td>
												<th>{_}Region{/_}:</th>
												<td>{$slecna->getLang($lang)->region?$slecna->getLang($lang)->region:$slecna->getLang('cs')->region}</td>
											</tr>
											<tr>
												<th>{_}Tel.{/_}:</th>
												<td>{$slecna->getLang($lang)->telefon?$slecna->getLang($lang)->telefon:$slecna->getLang('cs')->telefon}</td>
												<th>{_}E-mail{/_}:</th>
												<td>{$slecna->getLang($lang)->email?$slecna->getLang($lang)->email:$slecna->getLang('cs')->email|separeMail|noescape}</td>
											</tr>

											<tr>
												<th>{_}Online dny{/_}:</th>
												<td colspan="3">
													<div class="online-days">
														<div class="strong">{_}Dnes{/_}<br><img src="{$basePath}/img/a3.gif" title="Tento den není na příjmu"></div>
														<div class="strong">{_}Zítra{/_}<br><img src="{$basePath}/img/a3.gif" title="Tento den není na příjmu"></div>
														<div>{_}Čt{/_}<br><img src="{$basePath}/img/a1.gif" title="Escort i privát"></div>
														<div>{_}Pá{/_}<br><img src="{$basePath}/img/a1.gif" title="Escort i privát"></div>
														<div class="weekend">{_}So{/_}<br><img src="{$basePath}/img/a1.gif" title="Escort i privát"></div>
													</div>
												</td>
											</tr>
										</tbody>
									</table>
								</td>
							</tr>
							<tr>
								{*<td class="reserve-cell">
									<a href="" class="reserve-button">Dotaz na dostupnost</a>
								</td>*}
								<td class="image-thumbs" colspan='2'>
									{if !empty($slecna->photo1)}<a title="Kliknutím zobrazíte detail dívky a fotogalerie" href="{plink Pages:default item=>detail,slecna=>$slecna->url!=''?$slecna->url:$slecna->id}"><img src="{$slecna->photos[$slecna->photo1]->name|getPhoto:0:100:'FIT'}"></a>{/if}
							{if !empty($slecna->photo2)}<a title="Kliknutím zobrazíte detail dívky a fotogalerie" href="{plink Pages:default item=>detail,slecna=>$slecna->url!=''?$slecna->url:$slecna->id}"><img src="{$slecna->photos[$slecna->photo2]->name|getPhoto:0:100:'FIT'}"></a>{/if}
							{if !empty($slecna->photo3)}<a title="Kliknutím zobrazíte detail dívky a fotogalerie" href="{plink Pages:default item=>detail,slecna=>$slecna->url!=''?$slecna->url:$slecna->id}"><img src="{$slecna->photos[$slecna->photo3]->name|getPhoto:0:100:'FIT'}"></a>{/if}
							{if !empty($slecna->photo4)}<a title="Kliknutím zobrazíte detail dívky a fotogalerie" href="{plink Pages:default item=>detail,slecna=>$slecna->url!=''?$slecna->url:$slecna->id}"><img src="{$slecna->photos[$slecna->photo4]->name|getPhoto:0:100:'FIT'}"></a>{/if}
							{if !empty($slecna->photo5)}<a title="Kliknutím zobrazíte detail dívky a fotogalerie" href="{plink Pages:default item=>detail,slecna=>$slecna->url!=''?$slecna->url:$slecna->id}"><img src="{$slecna->photos[$slecna->photo5]->name|getPhoto:0:100:'FIT'}"></a>{/if}
								</td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
		{/foreach}


	</div>

</div>