{var $lang = $presenter->getParameter('lang')}
<div class="inside">
	<div class="menu">
		<div class="menu_left">
			<div class="menu_right">
				<ul>
					<li n:foreach="$topmenu as $item" n:if="$item->visible==1" n:class="$iterator->isFirst()? first">
						<a href="{plink Pages:default lang=>$presenter->getParam('lang'),item => $item->item}" title="{$item->name}" n:class="$presenter->isLinkCurrent('Pages:default',array('item'=>$item->item)) ? current">{$lang=='cs'?$item->page->name:$item->page->{'name_'.$lang}}</a>
					</li>
				</ul>
				<div class="menuright">

					{var $act = $presenter->name.":".$presenter->getAction()}
					<a href="{plink $act lang=>cs,slecna=>$presenter->getParam('slecna'),jmeno=>$presenter->getParam('jmeno'),item=>$presenter->getParam('item')}">
						<img src="{$basePath}/images/flags/small/cs.png" alt="cz">
					</a>
					<a href="{plink $act lang=>en,slecna=>$presenter->getParam('slecna'),jmeno=>$presenter->getParam('jmeno'),item=>$presenter->getParam('item')}">
						<img src="{$basePath}/images/flags/small/en.png" alt="en">
					</a>
				</div>
			</div>
		</div>
	</div>
</div>