<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta name="description" content="">
		<meta name="robots" content="{$robots}" n:ifset="$robots">

		<title>{block title|striptags}{/block} - Zacatecnice.cz</title>

		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
		<meta name="viewport" content="width=device-width, initial-scale=1">




		<link rel="shortcut icon" href="{$basePath}/img/favicon.ico" type="image/x-icon" >
		{control css}
		{control js}
		{block head}{/block}

		<!--		<script>
					(function(i, s, o, g, r, a, m) {
						i['GoogleAnalyticsObject'] = r;
						i[r] = i[r] || function() {
							(i[r].q = i[r].q || []).push(arguments)
						}, i[r].l = 1 * new Date();
						a = s.createElement(o),
							m = s.getElementsByTagName(o)[0];
						a.async = 1;
						a.src = g;
						m.parentNode.insertBefore(a, m)
					})(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');
		
					ga('create', 'UA-48590432-1', 'zacatecnice.cz');
					ga('send', 'pageview');
		
				</script>-->

		<script type="text/javascript">
			$(function() {
				$('#search-form, #agent-search-form').jqTransform({'imgPath': 'jqtransformplugin/img/'});
			});
		</script>
	</head>

	<body id="page1" oncontextmenu="return false;">
		<div class="tail_bg">
			<div class="main">
				<header>
					<div class="main pr">
						<h1><a href="{plink Pages:default lang=>$presenter->getParam('lang')}" title="Začátečnice.cz"><span>Začátečnice.cz</span></a></h1>
						<div class="indent">
							<p>Tel.: <span>+420 702 944 166</span>, E-mail: <span>divky@Zacatecnice.cz</span></p>
							{*<p>Skype: <span>Zacatecnice.cz</span>, Facebook: <span>Zacatecnice.cz</span></p>*}
							{*<p>{_}Začátečnice.cz - jsme exklusivní, milé, luxusní a začínající dívky{/_}.<br />{_}Volej denně{/_} {_}od{/_} <span>10:00</span> {_}do{/_} <span>24:00</span></p>*}
							<p>{_|noescape}Volej od <span>10:00</span> do <span>01:00</span>, Pátek až Neděle od <span>10:00</span> do <span>02:00</span>{/_}</p>
						</div>
						{control topMenu}
					</div>
				</header>
				<section>
					<div class="inside">
						{include content}
					</div>
				</section>
				<footer>
					<div class="bot">
						<div class="main">
							{*<ul class="icon">
								<li><a href="#"><img alt="" src="/images-front/icon1.gif" /></a></li>
								<li><a href="#"><img alt="" src="/images-front/icon2.gif" /></a></li>
								<li><a href="#"><img alt="" src="/images-front/icon3.gif" /></a></li>
								<li><a href="#"><img alt="" src="/images-front/icon4.gif" /></a></li>
							</ul>*}
							<div class="inside">
								<div class="container">
									<span>Zacatecnice.cz</span> &copy; 2014 &nbsp;{*| &nbsp;Created by <a href="http://katolicky.eu">David Katolický</a>*}<!--FOOTER_LINK-->
									{control bottomMenu}
								</div>
							</div>
						</div>
					</div>
				</footer>
			</div>
		</div>
		
		<script type="text/javascript"> Cufon.now();</script>

		{block scripts}
		{/block}
	</body>
</html>
