

/* ===================
    ALL: GLOBAL CONTAINERS
   =================== */

body {
	font-size: 12px;
    line-height: 120%;
    margin: 0;
    padding: 0;
    font-family: Arial;
}

h2 {
	margin-top: 0;
}
img {
	border: 0;
}
table, td, th {
	border: 0;
	vertical-align: top;
	border-spacing: 0;
	border-collapse: collapse;
}
table {
	width: 100%;
}
input[type='text'], textarea, select {
    border: 1px solid #666;
}

.bold, .strong {
	font-weight: bold;
}

.w17 { width: 17%; }
.w18 { width: 18%; }
.w20 { width: 20%; }
.w28 { width: 28%; }
.w30 { width: 30%; }
.w33 { width: 33%; }
.w35 { width: 35%; }


/* ==============
    MOBILE: Main
   ============== */


/* HEADER */

#top-container {
    background-image: url(../img/top_pattern.gif);
    background-repeat: repeat-x;
	background-color: black;
	position: relative;
    z-index: 10;
}

#top {
    margin: 0 auto;
	color: white;
	position: relative;
}
#top > div {
	padding: 0;
	text-align: center;
}
#top ul {
	margin: auto;
	padding: 0;
	list-style: none outside none;

}

#top ul li.hidden {
    display: none;
}
#top a {
	color: white;
	text-decoration: none;
}

#logo a {
	margin-top: 4px;
	margin-left: 10px;
}
#logo a:hover {
	background: none !important;
}


#menu {
	margin: 5px 10px 5px 15px;
}
#menu a {
    display: block;
    padding: 10px 13px 10px 13px;
    font-weight: bold;
    font-size: 13px;
}
#menu a:hover {
    background-color: #cc0000;
}
#menu a.active {
    background-color: #d92922;
}

#small-menu {
	line-height: 19px;
	font-size: 10px;
	margin: 2px 10px 0 10px;
	font-weight: bold;
	clear: both;
}
#small-menu a {
    padding: 0px 5px 0px 5px;
	display: inline-block;
}
#small-menu a:hover {
    background-color: #cc0000;
}

#phone-menu {
	line-height: 19px;
	font-size: 12px;
	font-weight: bold;
	clear: both;
	margin: 5px 10px 5px 15px;
	color: #dddddd;
}
#phone-menu br {
	display: none;
}

#language-menu {
	position: absolute;
	right: 10px;
	top: 5px;
	width: 20px;
}



/* BODY */

#body {
    margin: 0 auto;
    min-height: 740px;
}
#body a {
    color: #ccc;
    text-decoration: none;
}
#body a:hover {
    text-decoration: underline;
}
#body .top
{
    background-image: url(../img/frame_top.gif);
    background-position: center bottom;
    background-repeat: no-repeat;
    width: 100%;
    height: 30px;
    display: block;
}
#body .bottom
{
    background-image: url(../img/frame_bottom.gif);
    width: 100%;
    background-position: center top;
    background-repeat: no-repeat;
    height: 30px;
    display: block;
}


#wrapper {
    background: url(../img/wrapper_bg.png) repeat 100% 0px;
    position: relative;
	padding-top: 20px;
}

/* dívky přehled */
.girls-overview {
	margin: 0 -10px;
	text-align: center;
}
.girls-overview > div {
    margin: 0 7px 18px 10px;
    text-align: center;
    background-color: #333;
    color: #fff;
    font-weight: bold;
    padding: 3px;
	display: inline-block;
}
.girls-overview a {
	display: block;
}
.girls-overview .name {
	font-size: 12px;
}
.girls-overview .description {
	font-size: 10px;
	color: #ccc;
}
.girls-overview img {
    border: solid 1px #333;
    margin-bottom: 3px;
	height: 200px;
}


/* tabulka dívky s podrobnostmi */
.girl-table {
	margin: 0 -10px;
}
.girl-box {
	width: 100%;
}
.girl-box-two {
	margin: 0 10px 20px 10px;
}
.girl-box-two > table {
	box-shadow: 0 0 5px 5px gray;
	background-color: #555;
	min-height: 247px;
	width: 100%;
}

.first-col {
	width: 108px;
}

.name-line {
	font-size: 12px;
	color: #fff;
	height: 30px;
	vertical-align: middle;
	display: block;
	padding: 0 10px;
}
.name-line table td, .C1td {
    color: #ccc;
	font-weight: bold;
    vertical-align: middle;
}
.name-line table th, .C1TH {
    font-size: 10px;
    text-align: left;
    color: #999;
    vertical-align: middle;
}

.table-details-cell {
	padding: 0 10px 10px 10px;
}
.table-details td {
    padding: 1px 0 1px 0px;
    font-size: 10px;
    color: #fff;
    vertical-align: middle;
}
.table-details th {
    padding: 0px 2px 1px 0px;
    font-size: 10px;
    font-weight: bold;
    text-align: left;
    color: #999;
    vertical-align: middle;
}
.mail {
    vertical-align: text-bottom;
}

.online-days {
	border: solid 1px #888;
	border-left: none;
	background-color: #666;
	margin: 5px 0;
	display: inline-block;
}
.online-days > div {
	display: block;
	float: left;
	width: 30px;
	text-align: center;
	font-size: 10px;
	color: #fff;
	border-left: solid 1px #888;
	padding: 2px 2px 1px 2px;
}
.online-days .weekend {
	background-color: #444;
}

.image-thumbs {
	padding: 10px 0;
	display: block;
	text-align: center;
}
.image-thumbs a {
    margin: 0 2px 5px 2px;
}
.image-thumbs img {
    border: solid 1px black;
}

.image-preview {
	padding: 6px;
	display: block;
	text-align: center;
}
.image-preview img {
    border: solid 1px black;
	width: 106px;
}

.reserve-cell {
	display: block;
}
a.reserve-button {
    background-color: #999;
    border: solid 1px #333;
    padding: 5px;
    color: black !important;
    font-weight: bold;
    text-decoration: none;
	text-align: center;
    display: block;
    margin: 0 5px;
	text-transform: uppercase;
}
a.reserve-button:hover {
    text-decoration: none !important;
    border: solid 1px #ccc;
    color: white !important;
}



/* girl-detail */

.detail-gallery {
	width: 230px;
	float: left;
	display: none;
}
.detail-gallery table {
	width: auto;
}
.detail-gallery h3, .detail-photo h3 {
	margin: 7px 0 8px 0;
}
.galery-box a {
	text-align: center;
	display: block;
	background-image: url("../img/film.gif");
	width: 106px;
	height: 63px;
	float: left;
	margin: 2px;
}
.galery-box img {
	margin-top: 2px;
}
.detail-gallery .online-days {
	margin: 20px 2px 0 2px;
}
.detail-gallery .reserve-button-box {
	text-align: center;
	padding-top: 20px;
}
.detail-gallery .reserve-button-box .reserve-button {
	display: inline-block;
	width: 96px;
	text-transform: none;
}

.detail-photo-mobile {
	text-align: center;
}
.detail-photo-mobile img {
	margin-bottom: 10px;
	max-width: 100%;
}
.detail-photo-mobile #next-photos-button {
	margin-bottom: 15px;
	padding: 5px 15px;
	width: auto;
	display: inline-block;
}
.detail-photo-full {
	display: none;
}
#reserve-button-down-box {
	display: block;
	text-align: center;
	margin-top: 15px;
}
#reserve-button-down-box a {
	display: inline-block;
	padding: 5px 15px;
}

.detail-info {
	clear: both;
	background-color: #555;
    box-shadow: 0 0 5px 5px gray;
	margin-top: 20px;
	padding: 10px;
}
.detail-info .name {
	font-size: 13px;
	font-weight: bold;
}
.detail-info .table-details {
	float: left;
	width: 100%;
	font-weight: bold;
}
.detail-info .table-details.main {
	font-weight: normal;
	line-height: 18px;
}
.detail-info .table-details.likes {
	width: 50%;
	margin-top: 15px;
}
.detail-info .table-details.main th {
	width: 50%;
}
.detail-info .table-details.main td {
	font-size: 11px;
}

.girl-info-thumb {
	width: 100%;
	display: block;
	text-align: center;
	margin-bottom: 15px;
}
.girl-info-thumb img {
	margin-right: 10px;
}

.desc {
	float: left;
	margin-left: 15%;
	font-size: 12px;
	color: white;
	margin: 20px 0 0 0;
	line-height: 150%;
}


td.disabled {
	color: #ccc;
    text-decoration: line-through;
	font-weight: normal;
}

/* week overview */

#week-overview {
	 background: url("../img/module_transparent_bg.png") repeat scroll 0 0 rgba(0, 0, 0, 0);
	 text-align: center;
	 color: white;
}
#week-overview .col-head {
	width: 30%;
}
#week-overview .col-days {
	width: 10%;
}
#week-overview .table-head {
	font-size: 11px;
}
#week-overview {

}
#week-overview {

}



/* effects */
.fL {
    background: url(../img/header.png) no-repeat 0px -135px;
    position: relative;
    height: 20px;
}
.fR {
    background: url(../img/header.png) no-repeat 100% -345px;
    position: relative;
    height: 20px;
}
.fB {
    background: url(../img/header.png) repeat-x 0px -420px;
}
.hL {
    background: url(../img/header.png) no-repeat 0px -185px;
    position: relative;
    height: 20px;
}
.hR {
    background: url(../img/header.png) no-repeat 100% -395px;
    position: relative;
    height: 20px;
}
.hB {
    background: url(../img/header.png) repeat-x 0px -420px;
}

.Sep {
    background-color: #000;
	height: 10px;
}
.content {
    padding: 0 10px;
}

/* ==========================================================================
   Media Queries
   ========================================================================== */

@media only screen and (min-width: 480px) {
	#top ul li {
		display: inline;
		float: left;
	}
	#top ul {
		display: inline-block;
	}
	.name-line, .image-preview, .reserve-cell, .image-thumbs {
		display: table-cell;
	}
	.image-thumbs {
		text-align: left;
		padding: 0 0 5px 0;
	}
	.table-details-cell, .name-line {
		padding: 0;
	}
	.online-days > div {
		width: 38px;
	}

}

@media only screen and (min-width: 700px) {
	#menu {
		margin: 39px 0 0 20px;
		float: left;
	}
	#logo, #small-menu, #menu {
		float: left;
	}
	#phone-menu {
		text-align: left !important;
	}
	.girls-overview {
		text-align: left;
	}
	.content {
		padding: 0 20px;
	}
	.girl-info-thumb {
		width: auto;
		min-width: 15%;
		display: inline-block;
		float: left;
	}
	.girls-overview img {
		border: solid 1px #333;
		margin-bottom: 3px;
		height: 160px;
	}

	.detail-gallery {
		display: inline-block;
	}
	.detail-photo-mobile {
		display: none;
	}
	.detail-photo-full {
		float: left;
		display: block;
	}
	#reserve-button-down-box {
		display: none;
	}
}


@media only screen and (min-width: 880px) {
	#small-menu {
		clear: none;
		text-align: left !important;
		margin: 2px 10px 0 20px;
	}
	#small-menu a {
		padding: 0px 5px 0px 5px;
		display: block;
	}
	.girl-box {
		width: 50%;
		float: left;
	}

	.detail-info .table-details.likes {
		width: 23%;
	}
	.detail-info .table-details.main {
		width: 39%;
	}
	.detail-info .table-details.main th {
		width: 35%;
	}
	.desc {
		margin: 40px 10px 10px 15%;
	}

}


@media only screen and (min-width: 1000px) {

	#container {
		background-image: url(../img/bg.png);
		background-repeat: no-repeat;
		background-position: center top;
	}
	#top {
		max-width: 980px;
		height: 84px;
	}
	#body {
		max-width: 980px;
	}
	#phone-menu {
		margin: 2px 10px 0 20px;
		clear: none;
		font-size: 10px;
	}
	#phone-menu br {
		display: block;
	}
	#logo a {
		margin-left: 0;
	}
	#wrapper {
		margin: 0px 10px 10px 10px;
		box-shadow: 0 0 5px 5px gray;
	}
}






/* ==========================================================================
   Helper classes
   ========================================================================== */

.ir {
	background-color: transparent;
	border: 0;
	overflow: hidden;
	*text-indent: -9999px;
}
.ir:before {
	content: "";
	display: block;
	width: 0;
	height: 150%;
}

.hidden {
	display: none;
}
.invisible {
	visibility: hidden;
}

.clearfix:before,
.clearfix:after {
	content: " ";
	display: table;
}
.clearfix:after {
	clear: both;
}
.clearfix {
	*zoom: 1;
}
.pull-right {
	float: right;
}
.pull-left {
	float: left;
}