{block title}
{var $name = 'name'.$postfix}
{$menu->page->$name|noescape}
{/block}
{block content}
{var $name = 'name'.$postfix}
{var $header = 'header'.$postfix}
{var $content = 'content'.$postfix}
{var $footer = 'footer'.$postfix}

<div id="container">
	<div id="body">
		<div id="wrapper">
			{ifset $menu}
				{if is_object($menu->page)}	
					<div class="content clearfix">
						{if !empty($menu->page->$header) || !empty($menu->page->$content)}
							{*<h2>{$menu->page->$name}</h2>*}
							{$menu->page->$header|noescape}
							{$menu->page->$content|noescape}

						</div>
					{/if}
					{if $menu->page->component!= null && $menu->page->component != ''}
						<div class="components">
							{foreach explode(',',$menu->page->component) as $component}
								{var $component = trim($component)}
								{if $component == 'workInErotic'}
									{include 'forms/workInErotic.latte',component=>$component}
								{else}
									{control $component}
								{/if}
							{/foreach}
						</div>
						<div class="content clearfix">
						{/if}
						{$menu->page->$footer|noescape}
					</div>
				{/if}
			{/ifset}

		</div>
	</div>
</div>

